extends layout/common_layout

block bodyContent
    .container
        h1 404
        p Sorry, we couldn't find the page you were looking for.
        a(href="/") Go Back Home
        ul.bg-bubbles
            li
            li
            li
            li
            li
            li
            li
            li
            li
            li
