<footer class="bg-dark text-white py-4">
    <div class="container text-center">
      <p class="mb-0">© 2025 Your Website Name. All rights reserved.</p>
      <p>
        <a href="#" class="text-white mx-2 text-decoration-none">Privacy Policy</a> |
        <a href="#" class="text-white mx-2 text-decoration-none">Terms of Use</a>
      </p>
      <div>
        <a href="#" class="text-white mx-2"><i class="bi bi-facebook"></i></a>
        <a href="#" class="text-white mx-2"><i class="bi bi-twitter"></i></a>
        <a href="#" class="text-white mx-2"><i class="bi bi-instagram"></i></a>
      </div>
    </div>
  </footer>